nav{
  margin-right: 2em;
  padding: 30px;
}
img{
  border-radius: 30px;
  width: 300px;
  height: 250px;
}
.dot::after {
  content: '';
  width: 6px;
  height: 6px;
  display: block;
  background: gray;
  border-radius: 100%;
}
.card-footer{
  gap:  .5rem;
}
a{
  text-decoration: none;
  color:black;
}

.read{
  color: red;
  font-weight: 500;
  font-size: small;
}
.active{
  color: red;
}
.navbar{
  padding: 50px;
}
.d-flex{
  margin-right: 30px;
}
.navbar-nav a {
  padding-bottom: 6px;
  font-weight: 600;
}

.navbar-nav{
  flex-direction: row;
  gap:40px;
  flex-wrap: wrap;
}

.navbar-nav a::after {
  content: '';
  right: 0;
  width: 0;
  display: inline-block;
  height: 3px;
  background: hsl(120, 100%, 25%);
  transition: all 0.4s ease-in-out;
}

.navbar-nav a:hover::after {
  width: 100%;
  left: 0;
}
.card{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 20px;
  
}